# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- few examples of evaluating arithmetic expression in python

Some of the popular languages that Data Scientists use are:
1. python
2. r
3. scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. ggplot
3. pandas

| Data Science Tools |
|--------------------|
|Jupyer labs|
|VS code |
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
print(200//60,"hours",200%60,"minutes")
print(200/60,"hours")

3 hours 20 minutes
3.3333333333333335 hours

## Author
Aniket Gupta